@charset "UTF-8";

body{
    background-color: aqua;
    background: url(./imagem/jogo1.avif);
    background-attachment: fixed;
    display: block;
}

.flash_alerta{
    background-color: rgba(222, 9, 52, 0.945);
    color: black;
    margin: auto;
    text-align: center;
    font-weight: bold;
    border-radius: 20px;
    width: 400px;
    margin-top: 30px;
    font-size: 20px; 
}

#form_fundo{
    background-color: rgba(0, 0, 255, 0.579);
    margin: 10% 25% 25% 25%;
    text-align: center;
    border-radius: 20px;
    font-weight: bold;
    box-shadow: 4px 6px 6px black;
}

#form_frente{
   background-color: cornflowerblue; 
   margin: 5px;
   border-radius: 20px;
   font-weight: bold;
   box-shadow: 4px 6px 6px black;
   padding: 10px;
}

label{
    font-size: 25px;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px;
}

input{
    border-radius: 20px;
    font-size: 12px;
    font-weight: bold;
}

input:focus{
    background-color: rgb(43, 150, 226);
    color: black;
}

button{
   width: 140px; 
   font-size: 20px; 
   font-weight: bold;
   border-radius: 20px;

}

button:hover{
    background-color: black;
    color: aliceblue;
    width: 150px; 
   font-size: 30px;
}